# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Expressões regulares](#regex)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [98]:
import pandas as pd
import re

# 2. Expressões regulares <a name="regex"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [99]:
s = 'ddd11'

In [100]:
s.find('1')

3

In [101]:
s = 'ddd21'

In [116]:
s.find('2')

3

In [119]:
s = 'ddd99'
print(s.find('1'))
print(s.find('2'))
print(s.find('3'))
print(s.find('4'))
print(s.find('5'))
print(s.find('6'))
print(s.find('7'))
print(s.find('8'))
print(s.find('9'))

-1
-1
-1
-1
-1
-1
-1
-1
3

In [ ]:
DDD11-DDD12-DDD13-DDD14-DDD15-DDD16-DDD17-DDD18-DDD19 DDD21-DDD22-DDD24-DDD27-DDD28-DDD31-DDD32-DDD33-DDD34 DDD35-DDD37-DDD38-DDD41-DDD42-DDD43-DDD44-DDD45-DDD46 DDD47-DDD48-DDD49-DDD51-DDD53-DDD54-DDD55-DDD61-DDD62 DDD63-DDD64-DDD65-DDD66-DDD67-DDD68-DDD69-DDD71-DDD73 DDD74-DDD75-DDD77-DDD79-DDD81-DDD82-DDD83-DDD84-DDD85 DDD86-DDD87-DDD88-DDD89-DDD91-DDD92-DDD93-DDD94-DDD95 DDD96-DDD97-DDD98-DDD99

In [147]:
s = 'Hi\nHello'
print(s)

Hi
Hello

In [175]:
s = 'DDD73'
re.search('\d',s)

In [153]:
s = 'DDD73'
re.search('\d\d',s)

In [150]:
s = 'AAD73'
re.search('\D\D',s)

In [154]:
s = 'DDD73'
re.search('[0-9]',s)

In [177]:
s = 'DDD73'
re.search('[0-9]{2}',s)

https://regex101.com/

|Expressão    | Função                                  | Equivalente               |Exemplo|
|-------------|--------------------------------------------|---------------------------|------------------------------ |
|``[abc]``    |Corresponde (match) a um caractere __desses a, b ou c__ |                            | 12A34``a``1aaa+|
|``[^abc]``   |Corresponde (match) a um caractere __exceto a, b ou c__ |                            | ``1``2A34a1aaa+|
|``[a-z]``    |Corresponde (match) a um caractere que __está entre a e z__ |                        | 12A34``a``1aaa+|
|``[0-9]``    |Corresponde (match) a um dígito que __está entre 0 e 9__ |                           | ``1``2A34a1aaa+|
|``[^a-z]``   |Corresponde (match) a um caractere que __NÃO está entre a e z__  |                   | ``1``2A34a1aaa+|
|``[a-zA-Z]`` |Corresponde (match) a um caractere que __está entre a e z ou entre A e Z__ |         | 12``A``34a1aaa+|
|``.``        |Corresponde (match) a qualquer caractere |                                           | ``1``2A34a1aaa+|
|``\d``       |Corresponde (match) a um caractere que __está entre 0 e 9__ |``[0-9]``               | ``1``2A34a1aaa+|
|``\D``       |Corresponde (match) a um caractere que __não está entre 0 e 9__ |``[^0-9]``          | 12``A``34a1aaa+|
|``\w``       |Corresponde (match) a uma palavra que __contém dígitos ou letras__ |``[a-zA-Z0-9_]`` | ``1``2A34a1aaa+|
|``\W``       |Corresponde (match) a um dígito que __está entre 0 e 9__ |``[^a-zA-Z0-9_]``          | 12A34a1aaa``+``|
|``a?``       |Corresponde (match) a zero ou um caractere __a__ |                                   | `` ``12A34a1aaa+|
|``a*``       |Corresponde (match) a zero ou mais caractere __a__ |                                 | `` ``12A34a1aaa+|
|``a+``       |Corresponde (match) a um ou mais caractere __a__ |                                   | `` ``12A34a1aaa+|
|``a{3}``       |Corresponde (match) a exatamente 3 caracteres __a__ |                              | 12A34a1``aaa``+| 
|``a{3,}``       |Corresponde (match) a 3 ou mais caracteres __a__ |                                | 12A34a1``aaa``+|
|``a{3,6}``       |Corresponde (match) entre 3 a 6 valores do caractere __a__ |                     | 12A34a1``aaa``+|
|``^``       |Corresponde (match) ao inicio de uma string |                                         | `` ``12A34a1aaa+|
|``$``       |Corresponde (match) ao fim de uma string |                                            | 12A34a1aaa+`` ``|
|``\``       |Usado para indicar caracteres especiais  |                                            | ``\n``|

In [189]:
print('ola\na\ntodos')

ola
a
todos

In [64]:
re.search('[0-9][0-9]', 'ddd13').group()

'13'

In [179]:
s = 'tel123044222ddd'
re.search('[0-9][0-9][0-9][0-9][0-9][0-9]', s)

In [180]:
ddd_estado = pd.DataFrame({
    'ddd': ['ddd11', 'ddd73', 'ddd28', 'ddd99'],
    'estado': ['SP', 'BA', 'ES', 'MA']
})
ddd_estado

     ddd estado
0  ddd11     SP
1  ddd73     BA
2  ddd28     ES
3  ddd99     MA

In [181]:
ddd_estado.iloc[0]['ddd']

'ddd11'

In [182]:
re.search('[0-9][0-9]', ddd_estado.iloc[0]['ddd']).group()

'11'

In [183]:
ddd_estado['ddd_inteiro'] = ddd_estado.apply(lambda x: re.search('[0-9][0-9]', x['ddd']).group(), axis=1)

In [185]:
ddd_estado['ddd_inteiro'] = ddd_estado['ddd_inteiro'].astype(int)

In [186]:
ddd_estado.dtypes

ddd            object
estado         object
ddd_inteiro     int32
dtype: object

In [187]:
ddd_estado

     ddd estado  ddd_inteiro
0  ddd11     SP           11
1  ddd73     BA           73
2  ddd28     ES           28
3  ddd99     MA           99